body {
    background-image: url(images/twilight-aesthetic.jpg);
    text-align: center;
    object-fit: cover;
}

h1{
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h2{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
  color: white;
  font-size: 24px;
}

/* #fff {
  opacity: 1 !important;
} */

button {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    height: 138px;
    width: 138px;
    object-fit: contain;
    background-image: url(images/button_image.jpg);
    opacity: 0.6;
    margin: 30px;
    

  } 

  

  button:hover {
    opacity: 0.9;
  }
  