body {
    /* background-image: url(images/twilight-aesthetic.jpg); */
    background-color: #666666;
    text-align: center;
    object-fit: cover;
}

.header {
  width: 100%;
  /* height: auto; Make the header take up the entire viewport height */
  /* background-size: cover; */
  overflow: hidden;
  object-fit: fill;
  
}
/* .background-image {
  height: 50%;
  background-position: center;
  background-size: cover;
  position: relative;
   Ensure the image covers the entire header
  z-index: -1; Place the image behind other content
} */

h1{
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: flex; /* Adjust width as needed */
  padding: flex; /* Adjust padding as needed */
}

h2{
    color:#000000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: flex; /* Adjust width as needed */
    padding: flex; /* Adjust padding as needed */
}

p{
  color: #000000;
  font-size: 24px;
}

/* #fff {
  opacity: 1 !important;
} */

button {
    font-size: 24px;
    
    font-weight: bold;
    color: black;
    height: 100px;
    width: 150px;
    object-fit: contain;
    /* background-image: url(images/button_image.jpg); */
    opacity: 0.7;
    margin: 30px;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: 1px solid #333; /* Border color and width */
    outline: none; /* Remove default outline */
    cursor: pointer;

  } 

  p{
    font-family: "Roboto", sans-serif;

  }

  

  button:hover {
    opacity: 1;
  }
  